$header-height: 10vh;
$main-height: 90vh;
$footer-height: 0vh;

.header {
  height: $header-height;
}

.main {
  height: $main-height;
  padding: 0 1vh;
}

.footer {
  height: $footer-height;
}

.fullheight {
  height: $main-height;
  position: relative;
}