#centrepiece svg {
  display: block;
  margin: 2vh auto 0;
}

.overlay-info {
  ul {
    padding-left: 1.5em;
    li {
      margin-bottom: 0.4em;
    }
  }
}

.logos {
  margin-top: 3vh;
}

.logo-condynet {
  max-width: 50%;
  margin-left: -3.8%;
}

.logo-bmbf {
  max-width: 50%;
}