#centrepiece svg {
  display: block;
  margin: -3vh auto 0;
  font-size: 14px; // since svg has rescaling px font sizes work more uniformly than %
  overflow: visible;
}

.overlay-info {
  ul {
    padding-left: 1.5em;
    li {
      margin-bottom: 0.4em;
    }
  }
}

.logos {
  margin-top: 3vh;
}

.logo-condynet {
  max-width: 50%;
  margin-left: -3.8%;
}

.logo-bmbf {
  max-width: 50%;
}

.about-area {
  @include smallText;
  width: auto;
  position: absolute;
  bottom: 11vh;
  padding-right: 15px;

  h2 {
    @include largeHeading;
    margin: 0 0 0.3em 0;
  }

  ul {
    padding-left: 1.5em;
  }
}

.sim-equation {
  width: 100%;
  height: auto;
  margin: 1vh 0;
}

.experiment {
  padding-left: 6vh;
  margin: 1.5vh 0;
  strong {
    color: $color-blue;
  }
  .btn {
    width: 4.6vh;
    height: 4.6vh;
    line-height: 4.6vh;
    font-size: 3vh;
    float: left;
    margin-left: -6vh;
    padding: 0;
    text-align: center;
    background-color: $color-blue;
    color: $color-white;
    border-radius: 50%;
    &:focus {
      outline: none;
    }
    &:active {
      background-color: darken($color-blue, 10%);
    }
  }
}