.slider-container {
  margin-top: 40px;
  margin-bottom: 16px;
  label {
    display: block;
    color: $color-gray-dark;
    font-weight: 600;
  }

  .slider.slider-horizontal {
    width: 100%;
  }

  .slider {
    cursor: pointer;

    &.slider-horizontal {
      height: 2.5vh;
    }

    .slider-handle {
      width: 2.5vh;
      height: 2.5vh;
      margin-left: -1.2vh;
    }

    .slider-track {
      height: 1.2vh;
      margin-top: -0.6vh;
    }

    .tooltip {
      font-size: 1.8vh;
      &.top {
        margin-top: -4.5vh;
        padding: 0.75vh 0;

        .tooltip-arrow {
          margin-left: -1vh;
          border-width: 1vh 1vh 0;
        }
      }
    }
    .tooltip-inner {
      background-color: $color-blue;
    }
    .tooltip-arrow {
      border-top-color: $color-blue;
    }
    .slider-handle {
      background-image: linear-gradient(to bottom, $color-blue 0, darken($color-blue, 5%) 100%);
    }
  }

  .slider.slider-disabled {
    .tooltip-inner {
      background-color: $color-gray;
    }
    .tooltip-arrow {
      border-top-color: $color-gray;
    }
    .slider-handle {
      background-image: linear-gradient(to bottom, #e8e8e8 0, #e8e8e8 100%);
    }
  }
}