.controls-perturbation {
  width: 100%;
  margin-top: 0;
  position: absolute;
  top: 14vh;
  background-color: $color-blue-light;
  padding: 2vh 2vh 1vh 2vh;

  &:before {
    display: block;
    content: " ";
    background-color: $color-blue-light;
    position: absolute;
    right: -5vh;
    transform: rotate(45deg);
    width: 10vh;
    top: 50%;
    height: 10vh;
    z-index: -1;
    margin-top: -5vh;
  }

  .btn {
    @include regularText;
    border: none;
    border-radius: 0;
    background-color: $color-blue;
    color: $color-white;
    text-align: left;
    cursor: pointer;

    &:hover {
      background-color: $color-blue;
    }

    &:active {
      background-color: darken($color-blue, 10%);
      color: $color-white;
    }
  }

  h2 {
    margin: 0 0 0.3em 0;
  }

  a[data-control=random] {
    .fa {
      font-size: 1.3em;
      margin-right: 0.8vh;
    }
  }
}

.controls-sim {
  position: absolute;
  bottom: 0;
  margin-bottom: 2vh;
  width: 100%;

  .button {
    margin-right: 5vh;
  }

  .slider-container {
    margin-bottom: 4vh;
  }

  .sim-param-hint {
    @include smallText;
    line-height: 2vh;
    position: absolute;
    bottom: 9vh;
    color: $color-gray;
    transition: opacity 0.5s;
    opacity: 0;
  }
}

.sim-on .sim-param-hint {
  opacity: 1;
}

.controls-util {
  position: absolute;
  bottom: 0;
  right: 1vh;
  margin-bottom: 2vh;
  width: 100%;
  text-align: right;

  .button {
    margin-left: 3vh;
    &:after {
      color: $color-gray;
    }

    &:active {
      &:after {
        color: darken($color-gray, 10%);
      }
    }
  }
}

.button {
  display: inline-block;
  vertical-align: top;
  width: 5vh;
  height: 5vh;
  line-height: 5vh;
  @include xsmallHeading;
  color: $color-blue;
  padding: 0 0 0 6vh;
  margin: 1vh;
  position: relative;

  &:after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: FontAwesome;
    font-size: 5vh;
    line-height: 5vh;
    color: $color-blue;
  }

  &:active {
    &:after {
      color: darken($color-blue, 10%);
    }
  }

  &:hover {
    color: $color-blue;
    text-decoration: none;
  }
}

.sim-off {
  .controls-sim .button-on-off:after {
    content: ""; // fa-play
  }
}

.sim-on {
  .controls-sim .button-on-off:after {
    content: ""; // fa-pause
  }
}

.controls-sim .button-reset:after {
  content: ""; // fa-reset
}

.controls-util .button-info:after {
  content: ""; // fa-info-circle
}

.button-overlay-close {
  position: absolute;
  right: 0.25vh;
  bottom: 2.25vh;
  &:after {
    content: ""; // fa-close
    color: $color-orange;
  }

  &:active {
    &:after {
      color: darken($color-orange, 10%);
    }
  }
}

.controls-about {
  position: absolute;
  bottom: 2.5vh;
  margin-left: -1.2vh;

  .controls-about-label {
    color: $color-gray-dark;
    @include xsmallHeading;
    display: block;
    line-height: 7vh;
    position: absolute;
    left: -16vw;
    text-align: right;
    vertical-align: top;
    width: 15vw;
  }
}

.button-about {
  display: inline-block;
  width: 4.6vh;
  height: 4.6vh;
  padding: 0;
  background-color: $color-gray;
  border-radius: 50%;
  color: $color-white;
  line-height: 4.6vh;
  @include headingFont;
  font-size: 3.8vh;
  text-align: center;

  &:hover, &:focus {
    text-decoration: none;
    color: $color-white;
  }

  &:active {
    background-color: darken($color-gray, 10%);
  }

  &.selected {
    background-color: $color-orange;
  }
}