h2 Synchronization
p
  | The normal operation at the global clock speed with constant time differences is called synchronisation. In Europe, the nodes are synchronised at a global speed of 50Hz, i.e. clock cycles per minute. The larger the “time difference” between two nodes, the more power is being transmitted between them.
p
  | At a base speed of 50hz the clocks appear to stand still. By reducing the <b>base speed</b>, you reduce the slow-motion effect until you observe the real-time simulation.
p
  | Each clock is subject to a certain amount of <b>friction</b> when it deviates from the global speed. By increasing the friction multiplier, the power grid becomes more stable.
