h2 Experiments with disturbances

p
  | You can manually perturb the clock position and speed of any node by clicking on it. The size of the perturbation
  | can be selected with the sliders on the left.
p
  | Observe how the nodes change their colour/ size and how the links change their width proportional to the
  | phase/frequency and line loadings. Using such experiments, the CoNDyNet researchers attempt to answer questions
  | like:
ul
  li What is the probability to come back to a stable situation after a local perturbation?
  li What is the probability that all frequency deviations are strictly limited?
  li Can we use properties of the network structure to identify the most critical nodes in terms of the above questions?
