h2 What do I see?
p
  | This is a simulation of the Scandinavian high-voltage power transmission network. The links are transmission lines, they change their width proportional to their usage. The nodes are sites of power producers or consumers.
p
  | The nodes produce or consume AC power and behave as so-called oscillators.
p
  | Think of them as fast-running clocks which exchange their current time via the links. In stable operation of the power grid, all clocks are required to run at the same global speed, i.e. no clock is overturning another one. Speed deviations are visualised in the changing size of the nodes.
p
  | When the clock speed is the same at all nodes, the time differences between them are constant. Each of the nodes is its own time zone, with some being in advance and some being behind of the others. After each clock cycle, the positions are identified. Nodes that are behind draw power from advanced nodes. This determines the direction of power transmission.

