#info
  .container-fluid
    .row
      .col-md-4
        h2 Credits
        .large
          h3 Development
          | Frank Hellmann<br>
          | Paul Schultz<br>
          | <br>
          h3 Additional design and adaptation by
          | IMAGINARY (imaginary.org)<br>
          | <br>
          | The CoNDyNet project is sponsored by the Bundesministerium für Bildung und Forschung
          | <br>
          .logos
            img.logo-condynet(src='assets/img/condynet_logo.svg')
            img.logo-bmbf(src='assets/img/BMBF_Logo.svg')
      .col-md-8
        h2 Related CoNDyNet Publications
        .small
          .row
            .col-md-6
              ul
                li
                  i Deciphering the imprint of topology on nonlinear dynamical network stability<br>
                  | Nitzbon, Schultz, Heitzig, Kurths, Hellmann<br>
                  | New Journal of Physics, 19(3), 033029, 2017<br>
                  | DOI: 10.1088/1367-2630/aa6321<br>
                li
                  i Potentials and limits to basin stability estimation<br>
                  | Schultz, Menck, Heitzig, Kurths<br>
                  | New Journal of Physics, 19(2), 023005, 2017<br>
                  | DOI: 10.1088/1367-2630/aa5a7b<br>
                li
                  i Survivability of Deterministic Dynamical Systems<br>
                  | Hellmann & Schultz, Grabow, Heitzig, Kurths<br>
                  | Scientific Reports, 6, 29654, 2016<br>
                  | DOI: 10.1038/srep29654<br>
                li
                  i The impact of model detail on power grid resilience measures<br>
                  | Auer, Kleis, Schultz, Kurths, Hellmann<br>
                  | European Physical Journal-Special Topics, 225(3), 609-625, 2016<br>
                  | DOI: 10.1140/epjst/e2015-50265-9<br>
            .col-md-6
              ul
                li
                  i Detours around basin stability in power networks<br>
                  | Schultz, Heitzig, Kurths<br>
                  | New Journal of Physics, 16, 2014<br>
                  | DOI: 10.1088/1367-2630/16/12/125001<br>
                li
                  i How dead ends undermine power grid stability<br>
                  | Menck, Heitzig, Kurths, Schellnhuber<br>
                  | Nature Communications, 5, 2014<br>
                  | DOI: 10.1038/ncomms4969<br>
                li
                  i How basin stability complements the linear-stability paradigm<br>
                  | Menck, Heitzig, Marwan, Kurths<br>
                  | Nature Physics, 9(2), 2013<br>
                  | DOI: 10.1038/nphys2516
