extends tpl/page

block title
  | Power Grid Dynamics Simulation

block main
  .header
    h1 Power Grid Dynamics Simulation
  .main
    .container-fluid.fullheight
      .row
        .col-md-3.col-left.fullheight
          .controls-perturbation
            h2 Simulate local disturbances
            .row
              .col-sm-6
                .slider-container
                  input.form-control#xpert_val(type="text", class="slider", data-slider-id='xpert_val', data-slider-min="-1", data-slider-max="1", data-slider-step="0.1", data-slider-value="0.1", value="0.1")
                  label.control-label(for="xpert_val") Phase pert.
              .col-sm-6
                .slider-container
                  input.form-control#ypert_val(type="text", class="slider", data-slider-id='ypert_val', data-slider-min="-15", data-slider-max="15", data-slider-step="0.1", data-slider-value="1", value="1")
                  label.control-label(for="ypert_val") Frequency pert.
            p.hint
              | Click on a node on the map to
              | perturb its phase φ and frequency ω
              | by these values.
            p.split
              a.btn(href='#', data-control="random")
                i.fa.fa-bolt
                |
                | Apply perturbance to all nodes
          .controls-sim
            .row
              .col-sm-6
                .slider-container
                  input.slider#speed_val(type="text", data-slider-id='speed_val', data-slider-min="0", data-slider-max="50", data-slider-step="10", data-slider-value="50", value="50")
                  label.control-label(for="speed_val") Co-rotation speed
              .col-sm-6
                .slider-container
                  input.slider#damp_val(type="text", data-slider-id='damp_val', data-slider-min="0", data-slider-max="5", data-slider-step="0.1", data-slider-value="1", value="1")
                  label.control-label(for="damp_val") Damping coefficient
            .sim-param-hint Pause the simulation to change the parameters
            a.button.button-on-off(href='#', data-control='play-pause')
            a.button.button-reset(href='#', data-control='reset') Reset
        .col-md-6.col-map.fullheight
          #centrepiece.fullheight
        .col-md-3.col-right.fullheight
          .about-area.about-text.visible#about-simulation
            include include/about_simulation
          .about-area.about-text#about-frequency-meter
            include include/about_frequency_meter
          .about-area.about-text#about-disturbances
            include include/about_disturbances
          .controls-util
            a.button.button-info(href='#', data-control='info')
          .controls-about
            .controls-about-label Learn more
            a.button.button-about.selected(href='#', data-about='about-simulation') 1
            a.button.button-about(href='#', data-about='about-frequency-meter') 2
            a.button.button-about(href='#', data-about='about-disturbances') 3
  .overlay.overlay-info
    .overlay-content
      include include/info
    a.button.button-overlay-close.overlay-close(href='#', data-control='close-overlay')
