extends tpl/page

block title
  | Power Grid Dynamics Simulation

block main
  .header
    h1 Power Grid Dynamics Simulation
  .main
    .container-fluid.fullheight
      .row
        .col-md-4
          | &nbsp;
        .col-md-5.fullheight
          #centrepiece.fullheight
        .col-md-3
          .inputs
            p
              a.btn.btn-primary(onclick="resetNetwork()") Reset network
              | &nbsp;
              a.btn.btn-primary(onclick="randomState()") Random state
            p
              a.btn.btn-primary(onclick="startSim()") Start simulation
              | &nbsp;
              a.btn.btn-primary(onclick="stopSim()") Stop simulation
            .form-horizontal
              .form-group
                .col-sm-8
                  label.control-label(for="speed_val") Co-rotation speed [Hz]
                .col-sm-4
                  input.form-control#speed_val(type="number", min="0", max="50", step="10", value="50")
              .form-group
                .col-sm-8
                  label.control-label(for="damp_val") Damping coefficient
                .col-sm-4
                  input.form-control#damp_val(type="number", min="0", max="5", step="0.1", value="1")
              .form-group
                .col-sm-8
                  label.control-label(for="xpert_val") Phase pert. [&pi;]
                .col-sm-4
                  input.form-control#xpert_val(type="number", min="-1", max="1", step="0.1", value="0.1")
              .form-group
                .col-sm-8
                  label.control-label(for="ypert_val") Frequency pert. [Hz]
                .col-sm-4
                  input.form-control#ypert_val(type="number", min="-15", step="0.1", value="1")
  .footer