h2 The frequency meter
p
  | In an AC power grid, it is an essential objective to maintain a stable common grid frequency, typically 50Hz. It
  | corresponds to a perfectly balanced system where electricity production meets the demand on the consumer side.
  | According to European regulation, frequency deviations must not be larger than +/-0.2Hz, otherwise special action
  | is required.
p
  | Beneath the map you see an indicator for the average grid frequency -- a frequency meter. The needle points
  | upwards when the system operates at 50Hz. Negative and positive deviations correspond to under- respectively
  | overproduction. The red dots mark the lowest and highest local frequency deviations, the numerical values are
  | stated below the meter.
